<!-- UNUSED IN FINAL PROJECT! -->
<!DOCTYPE html>
<html>
    <head>
        <!-- <link rel="stylesheet" href="/static/style.css" /> -->
    </head>
<body>
    <div id="botMsg">
        
    </div>
    <input type="text" id="msgTxt" name="msg" placeholder="Type something here..." autocomplete="off">
    <button id="sendBtn">Send</button>
        <!-- <input type="submit" value="Send"> -->
    <script type="text/javascript" src="{{ url_for('static',    filename='js/main.js') }}"></script>
</body>
</html>
